img.nav_logo{
    float: left;
}

.banner{
    /* background-image: url(img/_notes/HD_1.jpg); */
    background-image: url(../img/_notes/HD_6.jpg);
}

.wrap{
    position: fixed;
    width: 100%;
    z-index: 2;
}

.thumb > img {
    height: 200pt ;
}

.seemore{
    margin-top: 30pt;
    margin-left: 460pt;
}

.portofolio:hover{
    cursor: zoom-in;
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 4; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.9); 
  }
  
  .modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
  }
  
  #caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  }
  
  .modal-content, #caption {  
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  @-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
  }
  
  @keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
  }
  
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }

.singles:hover{
    opacity: 70%;
}

.ul_pt{
    margin-top: 55pt;
}

@media screen and (max-width: 500px) {

    .seemore{
        margin-top: 30pt;
        margin-left: 90pt;
    }

    img.nav_logo{
        display: none;
    }

    .ul_pt{
        margin-top: 0pt;
    }
}
